body{
    background-color: antiquewhite; }

    .container{
        border: 2px solid red;
        display: flex; 
        height: 80vh;
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
        /* align-content: center; */
        /* flex-flow: row wrap; */
        /* gap: 10px 10px; */
        
    }

        .item{
    height: 85px;
    width: 85px;
    background-color: blueviolet;
    border: 2px solid black;
    margin: 4px;  
}
.order2{
    /* order: 2; */
    
}
.order1{
    /* order: 1; */
    align-self: flex-start;
}
.item1{
    /* flex-grow:2; */
    /* flex-shrink: 6; */
    align-self: flex-end;
}
